body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.App .navbar-expand {
  padding: 0px;
}

.App .navbar {
  background-color: #fff;
}

.App .navbar .container {
  font-weight: 300;
  border-bottom: 1px solid #111;
  padding: 10px 0 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .navbar .container .navbar-brand {
  letter-spacing: 0.8px;
  font-weight: 400;
}

.App .navbar .container .linkbar-brand {
  display: block;
  padding: 10px;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.App .navbar .container .linkbar-brand:hover {
  color: #111;
}

.App .navbar .container .row {
  padding: 10px;
}

.App .navbar .container .row .col-md-4 .subBg01 {
  height: 200px;
}

.App .navbar .container .row .col-md-6 {
  padding-top: 10px;
}

.App .main-bg {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
