@import "_vars";
@import "_mixin";

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans KR";
  max-width: 1920px;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.App {
  .navbar-expand {
    padding: 0px;
  }
  .navbar {
    background-color: #fff;
    padding: 0 70px;
    .container {
      font-weight: 300;
      border-bottom: 1px solid #111;
      padding: 10px 0 10px 0;
      justify-content: space-between;
      margin-bottom: 20px;
      .navbar-brand {
        letter-spacing: 0.8px;
        font-weight: 400;
      }
      .linkbar-brand {
        display: block;
        padding: 10px;
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-link-color);
        text-decoration: none;
        transition: 0.15s ease-in-out;
        &:hover {
          color: #111;
        }
      }
    }
  }
  .nav-tabs {
    margin: 20px 0;
  }
  .main-bg {
    height: 350px;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ccc;
    // background-image: url("../img/shoe.png");
  }

  .cartBox {
    position: fixed;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid #ccc;
    width: 150px;
    left: 83%;
    top: 20%;
    .watchedItem {
      margin: 15px;
      .localImg {
        width: 120px;
        height: 100px;
        border-radius: 10px;
      }
    }
  }

  .container02 {
    display: flex;
    justify-content: center;
    .row {
      padding: 10px;
      width: 80%;
      .col-md-4 {
        margin-top: 20px;
        img {
          width: clamp(180px, 17vw, 400px);
          height: clamp(120px, 23vh, 200px);
          margin: 0 auto;
          border-radius: 20px;
        }
        h4 {
          margin-top: 10px;
          font-weight: 300;
          font-size: 18px;
        }
        p {
          margin-bottom: 5px;
        }
      }
    }
  }
  .plusBtn {
    width: 120px;
    height: 40px;
    color: #fff;
    margin: auto 0;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: cornflowerblue;
    &:hover {
      font-weight: 700;
      color: cornflowerblue;
      background-color: white;
      transition: all 0.5s ease-in-out;
    }
  }
  .start {
    opacity: 0;
    width: 1280px;
  }
  .end {
    opacity: 1;
    transition: all 0.5s;
  }
  .min-w-full {
    .bg-white {
      .qaDetail {
        @include multiEllipsis(1, 2.6);
        height: 4.5rem;
      }
    }
  }
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: all 0.5s;
}

.alertNone {
  display: none;
}

.table {
  width: 1280px;
  justify-content: center;
  margin: 0 auto;
  thead {
    border-bottom: solid 1px #ccc;
  }
}

.detail {
  padding-top: clamp(50px, 10vh, 100px);
  .material-icons {
    font-size: 40px;
  }
  .material-icons:hover {
    color: rgb(210, 35, 64);
    font-size: 40px;
    transition: all 0.25s ease-in-out;
  }
  .heart {
    color: rgb(210, 35, 64);
  }

  .pt-5 {
    font-size: 32px;
    padding: 15px;
    padding-top: 1.5rem !important;
  }
  p {
    font-weight: 300;
    color: rgb(86, 86, 86);
  }
  .price {
    font-weight: 500;
  }
  .btn-danger {
    margin: 20px 8px 8px 8px;
  }
}

// .title {
//   margin: 40px 20px 40px clamp(25px, 15vw, 110px);
//   text-align: left;
// }

// 반응형 따로
.board {
  width: 1080px;
  margin: 100px auto;
  .boardTitle {
    margin: 0 0 30px 0;
    h4 {
      strong {
        font-size: 2rem;
      }
    }
    p {
      margin: 5px;
      font-size: 1rem;
    }
  }
  .btWrap {
    margin: 30px;
    text-align: center;
    font-size: 0;
    .on {
      background: cornflowerblue;
      color: #fff;
    }
    button {
      margin: 0 0 0 10px;
      display: inline-block;
      min-width: 10px;
      border: 1px solid cornflowerblue;
      border-radius: 2px;
      font-size: 1.4rem;
      padding: 0px 10px;
    }
    button:first-child {
      margin: 0;
    }
  }
}

.post {
  form {
    margin-top: 50px;

    .question {
      height: 150px;
    }
    .text-gray-800 {
      padding-left: 5px;
      font-size: 15px;
    }
    .w-full {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}

@media all and (max-width: 960px) {
  .App {
    .detail {
      padding-top: 20px;
    }
  }
}

@media all and (max-width: 767px) {
  .App {
    .container02 {
      .row {
        .col-md-4 {
          img {
            width: clamp(320px, 17vw, 400px);
            height: clamp(200px, 23vh, 250px);
          }
          h4 {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
          }
          p {
            font-style: italic;
            font-weight: 400;
          }
        }
      }
    }
    .detail {
      .pt-5 {
        font-size: 24px;
      }
    }
  }
}
